.container {
  padding: 2rem;
  border-top: 1px solid var(--border);
}

.format{
  text-align: center;
}

.text {
  font-size: 0.875rem;
  color: var(--muted-foreground);
  font-family: var(--font-mono);
}